**/*.*~
.DS_Store
target
nb-configuration.xml
nbactions.xml
nb_jr_remoting.cfg
hyperion.log**
hyperion-test.log**
.idea
*.iml
.classpath
.project
.settings
.sass-cache
hyperion.properties
Thumbs.db
rebel.xml
