<!--
The MIT License

Copyright 2014 J. David Mendoza.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="/layouts/main :: head('Confirm Event')">
        <title>EVENT</title>

        <link rel="stylesheet" href="../../../resources/css/jquery-ui.min.css" th:href="@{/resources/css/jquery-ui.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container" style="padding: 0;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}" style="padding:0 15px;"><img src="../../../resources/img/logo.png" th:src="@{/resources/img/logo.png}" alt="iRSVPed.com" style="height:45px;"/></a>
                </div>
                <form action="#" th:action="@{/logout}" method="POST" id="logoutForm">
                    <nav class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" th:if="${#strings.isEmpty(session.imageUrl)}" th:text="${#authentication.name}" >TEST</a>
                                <a href="#" th:unless="${#strings.isEmpty(session.imageUrl)}" style="padding: 2px 0 0 0;"><img src="#" th:src="${session.imageUrl}" alt="user" th:alt="${#authentication.name}" style="height:45px;"/></a>
                            </li>
                            <li class="disabled"><a href="#" th:href="@{/event/create}" th:text="#{create.label}">Create</a></li>
                            <li class="active"><a href="#" th:href="@{/event/confirm}" th:text="#{confirm.label}">Confirm</a></li>
                            <li><a id="logoutLink" href="#" th:text="#{logout.label}">Logout</a></li>
                        </ul>
                    </nav>
                </form>
            </div>
        </header>

        <div class="container">
            <div class="row content">
                <div class="col-sm-12">
                    <form action="#" th:action="@{/event/create}" th:object="${event}" method="post" id="eventForm">
                        <input type="hidden" th:field="*{name}" id="name" />
                        <input type="hidden" th:field="*{seats}" id="seats" />
                        <input type="hidden" th:field="*{description}" id="description" />
                        <input type="hidden" th:field="*{date}" id="date" />
                        <input type="hidden" th:field="*{time}" id="time" />
                        <input type="hidden" th:field="*{hostName}" id="hostName" />
                        <input type="hidden" th:field="*{hostPhone}" id="hostPhone" />
                        <input type="hidden" th:field="*{hostEmail}" id="hostEmail" />
                        <input type="hidden" th:field="*{street}" id="street" />
                        <input type="hidden" th:field="*{city}" id="city" />
                        <input type="hidden" th:field="*{state}" id="state" />
                        <input type="hidden" th:field="*{zip}" id="zip" />

                        <h2 th:text="${event.name}">Event Name</h2>
                        <p>Date: <th:block th:text="${#dates.format(event.date, 'EEE, MMM dd yyyy hh:mm a zzz')}">Sun, May 1 2014 12:00 am CST</th:block></p>
                        <p>Host: <th:block th:text="${event.hostName}">David Mendoza</th:block></p>
                        <th:block th:utext="${event.description}">Event description</th:block>


                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-success btn-lg" name="confirm"><i class="fa fa-plus"></i> Confirm</button>
                                <button type="submit" class="btn btn-danger btn-lg" name="cancel"><i class="fa fa-edit"></i> Make Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer role="contentinfo" th:replace="/layouts/main :: footer">
        </footer>

        <div th:replace="/layouts/main :: scripts" th:remove="tag">
            <script src="../../../resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
            <script src="../../../resources/js/jquery-migrate-1.2.1.min.js" th:src="@{/resources/js/jquery-migrate-1.2.1.min.js}"></script>
            <script src="../../../resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
            <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
            <script src="../../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
        </div>

    </body>
</html>