<!--
The MIT License

Copyright 2014 J. David Mendoza.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="/layouts/main :: head('RSVP')">
        <title>Login</title>

        <link rel="stylesheet" href="../../../resources/css/jquery-ui.min.css" th:href="@{/resources/css/jquery-ui.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" />

    </head>
    <body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner" th:replace="/layouts/main :: navigation('home')">
        </header>
        
        <div class="row" th:unless="${#strings.isEmpty(errorMessage)}" role="alert">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4>Error</h4>
                    <p th:text="#{${errorMessage}(${errorMessageAttr})}">Error Message</p>
                </div>
            </div>
        </div>
        <div class="row" th:unless="${#strings.isEmpty(successMessage)}" role="alert">
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4>Success</h4>
                    <p th:text="#{${successMessage}(${successMessageAttr})}">Success Message</p>
                </div>
            </div>
        </div>

        <div class="container marketing">
            <div class="row content">
                <div class="col-sm-3">
                    <div class="action-nav-button">
                    <h3>Link your account</h3>
                    <p>
                        <a class="btn btn-lg btn-social-fb" ><span class="fa fa-chain"></span> <span class="fa fa-facebook-square fa-2x"></span></a> 
                    and/or
                        <a class="btn btn-lg btn-social-tw" ><span class="fa fa-chain"></span> <span class="fa fa-twitter-square fa-2x"></span></a> 
                    </p>
                    </div>
                </div>
       
                <div class="col-sm-3">
                    <div class="action-nav-button">
                    <h3>Unlink your account</h3>
                    <p>
                        <a class="btn btn-lg btn-social-fb" ><span class="fa fa-chain-broken"></span> <span class="fa fa-facebook-square fa-2x"></span></a> 
                    and/or
                        <a class="btn btn-lg btn-social-tw" ><span class="fa fa-chain-broken"></span> <span class="fa fa-twitter-square fa-2x"></span></a> 
                    </p>
                    </div>
                </div>
           
                <div class="col-sm-3 action-nav-button">
                    <h3>Email Address</h3>
                    
                    <p><a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#updateEmail"><span class="fa fa-envelope-o fa-2x"></span> Update now!</a></p>
                </div>
       
                <div class="col-sm-3 action-nav-button">
                    <h3>Password</h3>
                    <p><a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#updatePassword"><span class="fa fa-key fa-2x"></span> Change it now!</a></p>
                </div>
            </div>
            <div class="row content">
                <div class="col-sm-12">
                    <p><a class="btn btn-danger btn-block btn-lg" role="button" data-toggle="modal" data-target="#deleteAccount"><i class="fa fa-ban fa-2x"></i> Delete your acount permanently!</a></p>
                </div>
            </div>
        </div>
        
<!-- Email update modal -->
<form action="#" th:action="@{/settings/updateEmail}" method="post" id="settingsForm" enctype="multipart/form-data">
<div class="modal fade" id="updateEmail" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title text-info" id="myModalLabel">Update your email address</h4>
            </div>
            <div class="modal-body">
                <div class="input-group margin-bottom-sm">
                    <span class="label label-primary">Email address </span>
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="New Email Address" id="email" name="email"/>
                </div>
                <br/>
                <div class="input-group margin-bottom-sm">
                    <span class="label label-primary">Retype email&nbsp;&nbsp;&nbsp;</span>
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="Confirm Email address" id="confirmedEmail" name="confirmedEmail"/>
                </div>
            </div>
            <div class="modal-footer">
                <p><button type="submit" class="btn btn-primary" name="update" id="updateBtn"><i class="fa fa-edit"></i> Update Now!</button></p>
        </div>
    </div>
  </div>
</div>
</form>

<!-- Password update modal -->     
<form action="#" th:action="@{/settings/changePassword}" method="post" id="settingsForm" enctype="multipart/form-data">
<div class="modal fade" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title text-info" id="myModalLabel">Update your password</h4>
            </div>
            <form action="#" th:action="@{/settings/updatePassword}" th:object="${SettingsController}" method="post" id="settingsForm">
            <div class="modal-body">
                <div class="input-group margin-bottom-sm">
                    <span class="label label-primary">Type password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" placeholder="New password" id="password" name="password"/>
                </div>
                <br/>
                <div class="input-group margin-bottom-sm">
                    <span class="label label-primary">Retype password</span>
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" placeholder="Confirm password" id="confirmedPassword" name="confirmedPassword"/>
                </div>
            </div>
            <div class="modal-footer">
                <p><button type="submit" class="btn btn-primary" name="update" id="updateBtn"><i class="fa fa-edit"></i> Update Now!</button></p>
            </div>
            </form>    
        </div>
  </div>
</div>
</form>

<!-- Delete account -->        
<form action="#" th:action="@{/settings/deleteAccount}" method="post" id="settingsForm" enctype="multipart/form-data">
<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-trash-o fa-lg"></i></span>
                    <span class="label label-danger">Are you sure you want to say goodbye?</span>
                </div>
                <br/>
            </div>
            <div class="modal-footer">
                <p><button type="submit" class="btn btn-primary" name="update" id="updateBtn"><i class="fa fa-edit"></i> Delete Account!</button></p>
            </div>
    </div>
  </div>
</div>
</form>
        <footer role="contentinfo" th:replace="/layouts/main :: footer">
        </footer>

        <div th:replace="/layouts/main :: scripts" th:remove="tag">
            <script src="../../../resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
            <script src="../../../resources/js/jquery-migrate-1.2.1.min.js" th:src="@{/resources/js/jquery-migrate-1.2.1.min.js}"></script>
            <script src="../../../resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
            <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
            <script src="../../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
        </div>
    </body>
</html>